.top{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.btn {
    margin-top: 50px;
}

#hidden {
    display: none;
}

.center {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }

.profit {
  text-align: center;
  font-size: 35px;
  color: green;
}

.loss {
  text-align: center;
  font-size: 35px;
  color: red;
}

h2 {
  text-align: center;
}